<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Super add anki go!</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='script.js') }}"></script>

</head>
<body>
  <div id="main" class="container">
    <h4>Let's scrape anki</h4>

    {% for row in payload %}
    <div class="row" id="row_{{ row['id'] }}">
      <div style="display:none" class="lesson">{{ row['lesson'] }}</div>
      <div class="col-sm-1"><button class='btn btn-default sm master-button' onclick="ankify({{ row['id'] }})">+</button></div>
      <div class="col-sm-1">
        <audio id="audio_{{ row['id'] }}" src="https://s3.amazonaws.com/cdn.innovativelanguage.com/japanesepod101{{ row['sound'] }}" preload="auto"></audio>
        <button class='btn btn-info' onclick="document.getElementById('audio_{{ row['id'] }}').play();">♪</button>
      </div>
      <div class="col-sm-10">
        <div class='row kanji'>{{ row['kanji'] }}</div>
        <div class="row hiragana">{{ row['hiragana'] }}</div>
        <div class="row small muted english">{{ row['english'] }}</div>
      </div>
    </div>
    <hr>
    {% endfor %}


  
</body>
</html>
